<h1>Rutas en Angular</h1>
<nav>
  <a routerLink="/servers-center" routerLinkActive="active">Servidores</a>
  <a routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contacto</a>
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>
